studiotogit/src/main/mule/studiotogit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d6df2485-be5a-4117-8409-30012922a1a0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="studiotogitFlow" doc:id="78ec3144-e175-41ce-a2ab-0bea1cc7f798" >
		<http:listener doc:name="Listener" doc:id="6b75a7f0-9806-46bb-88e4-88dc246c01dd" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="95667555-0b1f-4071-9bd9-54e7abbde9fa" message='#["Hello World"]'/>
		<set-payload value='#["welcome to the Git hub"]' doc:name="Set Payload" doc:id="06d819f0-3199-4c31-9c45-086cfd3bb787" />
	</flow>
</mule>
